extends layout

block content
    body
        h1 Default Route
        p.
            To view messages, please browse at "http://127.0.0.1:8080/screen=X"
            where "X" is the screen id ranging from 1-3.