html
    head
        script(type='text/javascript' src='../javascript/jquery-3.2.1.js')
        script(type='text/javascript' src='../javascript/main.js')
        link(rel='stylesheet' href='../templates/default.css')
    body(onload='refreshDisplay()')
        h1=identifier
        #parent
            p To view messages, please browse at "http://127.0.0.1:8080/screen=X"
            p where 'X' is the screen id ranging from 1-3.