extends layout

block scripts
    script(type='text/javascript' src='../javascript/jquery-3.2.1.js')
    script(type='text/javascript' src="/socket.io/socket.io.js")
    script(type='text/javascript' src="../javascript/websockets.js")
    script(type='text/javascript' src='../javascript/messages.js')

block content
    body(onload='initMessages()')
        h1
        #parent