*
{
    margin: 0;
    padding: 0;
}

body
{
    text-align: center;
    background-color: greenyellow;
    font-family: "Arial Narrow", serif;
    font-size: 30px;
    color: black;
    font-style: italic;
}