<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template_1</title>
</head>
<body>
    <div id="container">
        <p id="text1" class="text"></p>
        <p id="text2" class="text"></p>
        <p id="text3" class="text"></p>
        <p id="text4" class="text"></p>
        <p id="text5" class="text"></p>
        <p id="text6" class="text"></p>
        <p id="text7" class="text"></p>
        <p id="text8" class="text"></p>
        <p id="text9" class="text"></p>
        <p id="text10" class="text"></p>
        <img id="img1" class="img" src="">
        <img id="img2" class="img" src="">
        <img id="img3" class="img" src=""><br>
        <img id="img4" class="img" src="">
        <img id="img5" class="img" src="">
    </div>
</body>
</html>