<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template_2</title>
    <link rel="stylesheet" href="template_2.css" type="text/css" />
</head>
<body>
    <div id="container">
        <ul>
            <li id="text1" class="text"></li>
            <li id="text2" class="text"></li>
            <li id="text3" class="text"></li>
            <li id="text4" class="text"></li>
            <li id="text5" class="text"></li>
            <li id="text6" class="text"></li>
            <li id="text7" class="text"></li>
            <li id="text8" class="text"></li>
            <li id="text9" class="text"></li>
            <li id="text10" class="text"></li>
        </ul>
        <ol>
            <li><img id="img1" class="img" src=""></li>
            <li><img id="img2" class="img" src=""></li>
            <li><img id="img3" class="img" src=""></li>
            <li><img id="img4" class="img" src=""></li>
            <li><img id="img5" class="img" src=""></li>
        </ol>
    </div>
</body>
</html>