<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template_3</title>
    <link rel="stylesheet" href="template_3.css" type="text/css" />
</head>
<body>
    <div id="container">
        <table>
            <tr>
                <td id="text1" class="text"></td>
                <td id="text2" class="text"></td>
                <td id="text3" class="text"></td>
                <td id="text4" class="text"></td>
                <td id="text5" class="text"></td>
            </tr>
            <tr>
                <td id="text6" class="text"></td>
                <td id="text7" class="text"></td>
                <td id="text8" class="text"></td>
                <td id="text9" class="text"></td>
                <td id="text10" class="text"></td>
            </tr>
            <tr>
                <td><img id="img1" class="img" src=""></td>
                <td><img id="img2" class="img" src=""></td>
                <td><img id="img3" class="img" src=""></td>
                <td><img id="img4" class="img" src=""></td>
                <td><img id="img5" class="img" src=""></td>
            </tr>
        </table>
    </div>
</body>
</html>